{% extends 'product/base.html' %}
{% load static %}

{% block title %}
    forget | Onlineshop
{% endblock %}

{% block style %}
    <style>
        #card-body {
            background-color: rgba(139, 156, 123, 0.44);
        }

        #button {
            background-color: rgba(106, 201, 17, 0.87);
        }
    </style>
{% endblock %}

{% block extra_header %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="card-container">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5" id="card-body">
                        <h5 class="card-title text-center mb-5 fw-light fs-5"><b>enter your username</b></h5>

                        <form id="form">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='username' id="username" required>
                                <label for="username">Username</label>
                            </div>

                            <button class="btn btn-primary btn-login" id="button" type="button">
                                sent email
                            </button>

                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static "customer/js/forget_password.js" %}"></script>
{% endblock %}