
body {
    background-image: url('../img/background_wall.jpg') ;
    background-size: cover;
}

.navbar {
    background-color: rgb(143, 177, 112);
    box-shadow: 0 1px 10px rgb(4, 52, 4);
}

button {
    color: #344029;
}