
.product-container {
    margin-top: 12px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
}

#search-btn {
    margin-right: 10px;
    margin-left: 5px;
}

.form-control {
    background-color: #EFF8EAFC
}

.product-container {
    display: flex;
    justify-items: flex-start;
    flex-direction: row;
}

.card {
    background-color: #EFF8EAFC;
}

.right-component {
    height: 100%;
    background-image: url("../img/background_wall.jpg");
    background-size: cover;
}